<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        #myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid grey; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: black; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: blue; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body onload="myFunction()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want-to-Go List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <p id="golist" style="color: transparent;"><%= list %></p>
    <div id="myUL">

    </div>

    <script>

function myFunction() {
    
    const div=document.getElementById('myUL')
    const input=document.getElementById('golist').textContent;
    if(input==" "){
        const a=document.createElement('h1')
        const n=document.createTextNode("There is no destination added yet")
        a.appendChild(n)
        div.appendChild(a)
    }else{
    var separated=input.split(',')
    
    
   //test.appendChild(separated.toString())
   //div.appendChild(test)
    for(i=0;i<separated.length;i++){
        if (separated[i]=="Bali"){
           const li=document.createElement("li")
           const a=document.createElement('a')
           a.href="/bali"
           const node=document.createTextNode("Bali")
           a.appendChild(node)
           li.appendChild(a)
           div.appendChild(li)}else

           if (separated[i]=="Paris"){
           const li=document.createElement("li")
           const a=document.createElement('a')
           a.href="/paris"
           const node=document.createTextNode("Paris")
           a.appendChild(node)
           li.appendChild(a)
           div.appendChild(li)} else

           if (separated[i]=="Rome"){
           const li=document.createElement("li")
           const a=document.createElement('a')
           a.href="/rome"
           const node=document.createTextNode("Rome")
           a.appendChild(node)
           li.appendChild(a)
           div.appendChild(li)} else

           if (separated[i]=="inca"){
           const li=document.createElement("li")
           const a=document.createElement('a')
           a.href="/inca"
           const node=document.createTextNode("Inca")
           a.appendChild(node)
           li.appendChild(a)
           div.appendChild(li)} else

           if (separated[i]=="Santorini"){
           const li=document.createElement("li")
           const a=document.createElement('a')
           a.href="/santorini"
           const node=document.createTextNode("Santorini")
           a.appendChild(node)
           li.appendChild(a)
           div.appendChild(li)} else

           if (separated[i]=="Annapurna"){
           const li=document.createElement("li")
           const a=document.createElement('a')
           a.href="annapurna"
           const node=document.createTextNode("Annapurna")
           a.appendChild(node)
           li.appendChild(a)
           div.appendChild(li)}

           

           
        }
    }


    }

    </script>
</body>
</html>